h1 {
  color: white;
  font-family: "Fjalla One", sans-serif;
  text-align: center;
}

.navbar {
  width: 100%;
  height: 70px;
  background-color: #5aaa5d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fjalla One", sans-serif;
  color: white;
}

.navbar span {
  margin: 0rem 0.5rem 0rem 0.5rem;
}

.navbar span:hover {
  cursor: pointer;
  color: green;
}

.pagina {
  background-image: url("images/mato.jpg");
  height: 100%;
  width: 100%;
  padding-top: 3.5rem;
}

.popupImgBlock {
  background-image: url("images/paper.jpg");
  height: 100%;
  width: 100%;
}

.infoBlocks {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  gap: 1%;
  padding: 5%;
}

.infoBlocks img {
  width: 20rem;
  height: 20rem;
}

.container {
  width: 20rem;
  height: 20rem;
  border-radius: 5%;
  position: relative;
  overflow: hidden;
}

.container:hover .overlay {
  opacity: 1;
  transform: scale(1);
}

.overlay {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(1.3);
  opacity: 0;
  transition: transform 0.4s ease 0s;
}

.overlay span {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
}

.overlay p {
  position: absolute;
  top: 62%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
}

#outrosMateriais {
  height: 1%;
}

#outrasInfo {
  height: 1%;
}

.container img {
  transition: transform 0.8s ease;
}

.container:hover img {
  transform: scale(1.1);
}

* {
  margin: 0%;
}

.button {
  font-size: 1em;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.button2 {
  font-size: 1em;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.button2:hover {
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  color: yellow;
}

a:visited {
  color: inherit;
}

.infoPop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.infoPop:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  background: #fff;
  border-radius: 5px;
  width: 55%;
  height: 70%;
  position: relative;
  transition: all 5s ease-in-out;
  overflow: auto;
  text-align: justify;
}

.popup h2 {
  margin-top: 0;
  padding: 2% 2% 0% 2%;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup p {
  padding: 20px;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: red;
}

.popup img {
  width: 80%;
  height: 80%;
}

.divImg {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-image: url("images/paper.jpg");
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

.pageContent {
  color: #fff;
  text-align: justify;
  font-family: "Merriweather Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5%;
}

.pagOm {
  background-color: #333;
  color: #fff;
}

.pagOm h2 {
  font-size: 3rem;
  text-align: center;
  padding: 2%;
  font-family: "Merriweather Sans", sans-serif;
}

.pagOm h3 {
  padding: 1%;
  font-size: 2rem;
}

.pagOm p {
  text-justify: auto;
  padding: 1%;
  font-size: 1.5rem;
}

.pagOm ol {
  font-size: 1.5rem;
}

#milk {
  display: flex;
  justify-content: center;
  width: fit-content;
}

#pbox {
  display: flex;
  justify-content: center;
  width: fit-content;
}

#pneu {
  display: flex;
  justify-content: center;
  width: 90%;
}

#pilha {
  display: flex;
  justify-content: center;
  width: fit-content;
}

#cigar {
  display: flex;
  justify-content: center;
  width: fit-content;
}

#oleo {
  display: flex;
  justify-content: center;
  width: 80%;
}

.pagOi {
  background-color: #333;
  color: #fff;
}

.pagOi h2 {
  font-size: 3rem;
  text-align: center;
  padding: 2%;
  font-family: "Merriweather Sans", sans-serif;
}

.pagOi h3 {
  padding: 1%;
  font-size: 2rem;
}

.pagOi p {
  text-justify: auto;
  padding: 1%;
  font-size: 1.5rem;
}

body {
  margin: 0;
  font-family: "Heebo", sans-serif;
}

.homeContent {
  background-image: url(images/homePage5.jpg);
  background-size: cover;
  height: 100%;
  padding: 10%;
  color: #f0f0f2;
  display: flex;
}

.homeContent h1 {
  font-size: 5rem;
  margin: 8% 52.8% 0% 0%;
  color: white;
}

.homeContent p {
  width: 40%;
  color: white;
  margin: 0% 1% 0% 0%;
  font-family: "Heebo", sans-serif;
}

.homeContent img {
  background-color: #202022;
}

.section {
  background-color: #333;
  height: 100%;
  padding: 2% 8% 2% 8%;
  font-family: "Heebo", sans-serif;
}

.newsCard {
  background-color: white;
  width: 32%;
  height: 40vh;
  border-radius: 15px;
  text-align: justify;
}

.newsCard img {
  background-color: #202022;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.newsCard div {
  background-color: #202022;
  height: 15%;
  display: flex;
  justify-content: center;
  justify-self: end;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  align-items: center;
  box-shadow: #202022;
}

.newsCard div p {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.newsCard h2 {
  margin-left: 6%;
}

.newsCard p {
  margin-left: 6%;
  margin-right: 4%;
}

.newsCard a {
  color: white;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
}

.title {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 5%;
  font-family: "Fjalla One", sans-serif;
  font: bold;
  color: white;
}

.artigo3 {
  background-color: #202022;
}

.artigo3 h2 {
  text-align: center;
  color: white;
  padding: 2%;
  font-size: 3rem;
  font-family: "Merriweather Sans", sans-serif;
}

.artigoContent {
  font-family: "Merriweather Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5%;
  font-size: 1.5rem;
  padding-top: 5%;
}

.artigo3 p {
  text-justify: auto;
  padding: 1%;
  font-size: 1.5rem;
}

.artigo3 img {
  display: flex;
  width: 50%;
  height: 50%;
  margin-top: -2%;
}

#reciclaBin {
  margin-top: 1%;
}

#tipoLixo {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.artInfo {
  width: 55%;
  height: 50vh;
  background-color: #f0f0f2;
  border-radius: 10px;
  margin-top: -15%;
  margin-bottom: 5%;
}

.artInfo2 {
  width: 55%;
  height: 60vh;
  background-color: #f0f0f2;
  border-radius: 10px;
  margin-top: -15%;
  margin-bottom: 5%;
}

.artigoContent img {
  width: 70%;
  height: 50%;
  border-radius: 15px;
}

.artigoContent h2 {
  color: black;
  font-size: 5.5rem;
  margin-top: 2%;
}

.artigoContent p {
  font-size: 1.2rem;
  margin: 0% 2% 0% 2%;
  font-weight: 100;
}